* {margin:0;padding:0;}
:root {
    --base-block-width: 240px;
}

#junqi {
    margin:10px auto;
    padding:1px;
    border:5px solid #999;
    width:var( --base-block-width );
    height:calc(var( --base-block-width )*570/400) ;
    font-size:calc(var( --base-block-width )*12/240);
}
#junqi ul {
    padding:1px 0 0 1px;
    background:white;
    height:var( --base-block-width) ;
}
#junqi li {
    float:left;
    width: calc(var( --base-block-width )*76/400);
    height: calc(var( --base-block-width )*42/400);
    margin:0 1px 1px 0;
    list-style:none;
    background:white;
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
#junqi .bingzhan {
    width: calc(var( --base-block-width )*50/400);
    height: calc(var( --base-block-width )*18/400);
    line-height: calc(var( --base-block-width )*18/400);
    background: white;
    border:1px solid gray;
    text-align:center;
    z-index:10;
    position:absolute;
}
#junqi .xiandong{
    width: calc(calc(var( --base-block-width )*76/400)/2);
    margin:auto 0 auto calc(calc(var( --base-block-width )*76/400)/2);
    height: 2px;
    background:#E0E0E0;
    position:absolute;
    z-index:1;
}
#junqi .xiannan{
    width: 2px;
    margin: calc(calc(var( --base-block-width )*76/400)/4) auto 0 auto ;
    height: calc(calc(var( --base-block-width )*42/400)*5/4);
    background:#E0E0E0;
    position:absolute;
    z-index:1;
}
#junqi .xingying {
    width: calc(var( --base-block-width )*60/400);
    height: calc(var( --base-block-width )*40/400);
    line-height: calc(var( --base-block-width )*40/400);
    background: white;
    border:1px solid gray;
    border-radius: 50%;
    text-align:center;
    z-index:10;
    position:absolute;
}
#junqi .dabenying {
    width: calc(var( --base-block-width )*66/400);
    height: calc(var( --base-block-width )*30/400);
    line-height: calc(var( --base-block-width )*30/400);
    background: #999;
    border:2px solid gray;
    text-align:center;
    z-index:10;
    position:absolute;
}
#junqi .qianxian {
    width: calc(var( --base-block-width )*45/400);
    height: calc(var( --base-block-width )*15/400);
    line-height: calc(var( --base-block-width )*15/400);
    background: white;
    border:1px dashed gray;
    text-align:center;
    z-index:999;
}
#junqi .lanfangqizi {
    width: calc(var( --base-block-width )*55/400);
    height: calc(var( --base-block-width )*22/400);
    line-height: calc(var( --base-block-width )*22/400);
    background: #FFFF99;
    border:3px solid blue;
    text-align:center;
    z-index:999;
}
#junqi .hongfangqizi {
    width: calc(var( --base-block-width )*55/400);
    height: calc(var( --base-block-width )*22/400);
    line-height: calc(var( --base-block-width )*22/400);
    background: #FFFF99;
    border:3px solid red;
    text-align:center;
    z-index:999;
}
#junqi .anqi {
    width: calc(var( --base-block-width )*55/400);
    height: calc(var( --base-block-width )*22/400);
    line-height: calc(var( --base-block-width )*22/400);
    background: #200942;
    border:4px solid gray;
    color:#200942;
    text-align:center;
    z-index:999;
}